*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Button */
header button{
  position: relative;
  margin: 0 auto;
  display:flex;
  width: 70px;
  height: 35px;
  perspective: 1000px;
  background-color: transparent;
  border: none;
}
header button a{
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
header button a:before,
header button a:after{
  position: absolute;
  content: " Load Data";
  height: 35px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--button-header);
  box-sizing: border-box;
  border-radius: 5px;
}
header button a:before{
  color: #ffffff;
  background: var(--button-header);
  transform: rotateY(0deg) translateZ(25px);
}
header button a:after{
  color: #fff700;
  transform: rotateX(90deg) translateZ(25px);
}
header button a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}