@import "_base.css";
@import "_fonts.css";
@import "_colors.css";
*{box-sizing: border-box;}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--body-BC);
  }
  header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-template-columns:1fr 2fr 1.2fr ;*/
    background-color:var(--Header-Footer-BC) ;
    height: 10vh;
    /*position:sticky;
    top: 0;*/
  }
  header img{
    /* margin: auto 10px; */
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }
  header form{
      display: flex;
      flex-direction: column;
      margin: auto;
      justify-content: center;
      gap: 10px;
  }

  main{
    padding: 20px;
      height: 85vh;
      flex-grow: 1;
      overflow-y: auto;
  }
  .cards-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
  }
  .cards{
      box-shadow:5px 4px 5px rgba(0, 3, 153, 0.2);
      background-color: azure;
        width: 200px;
        text-align: center;
        border-radius: 15px;
  }
  .cards img{
    width: 100%;
    border-radius: 15px 15px 0 0;
  }


  footer{
    display: flex;
    flex-shrink: 0;
    bottom: 0;
    justify-content: space-between;
    background-color:var(--Header-Footer-BC) ;
    height: 50px;
    color: rgb(255, 255, 255);
    justify-content: center;
  }
